{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Story {{post.id}} by {{ post.user.username}}</h2>
    <div class="story" id="post-{{ post.id }}">
    	<div class="meta">
    		<p class="createdAt pull-right">{{post.createdAt|date('d.m.Y | H:i')}}</p>
    		<p class="createdBy"><a href="{{path('user_show', {id: post.user.id})}}" style="color: rgb(50, 125, 255); font-size: 1.15em;">{{post.user.username}}</a></p>
    	</div>
    	<div class="post-content">
    		{{post.content}}
    	</div>
        {% if is_granted('ROLE_USER')%}
        <div class="story-manage">
                <div class="votes">
                    {{ render(controller('AppBundle:Vote:new', {'postId': post.id, 'sign': null})) }}
                    <span class="votes-qnt">Votes: {{post.votesQnt}}</span>
                </div>
        {% if is_granted('ROLE_ADMIN')%}
            {% if post.isWaiting == 1 %}<a href="/post/move/{{ post.id }}" class="btn btn-info move-post">Move to main</a>{% endif %}
            <a href="/post/edit/{{ post.id }}" class="btn btn-success ajax edit edit-post" data-target="post-{{ post.id }}">Edit</a>
             <a href="/post/remove/{{ post.id }}" class="btn btn-danger remove-post">Remove</a>
        {% endif %}
            <div class="clearfix"></div>
        </div>
        {% endif %}
        <div class="comments">
        	<p>Comments</p>
        	<div class="add-comment">
            {% if is_granted('ROLE_USER') %}
        		{{ render(controller('AppBundle:Comment:new', {'postId': post.id})) }}
        	{% else %}
                <p>Log in to comment</p>
            {% endif %}
            </div>


            {% for comment in post.comments %}
                {% include 'comment/comment.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
